.horse-form {
    width: 70%;
    margin: auto;
}

.instructions {
    margin-top: 30px;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 5vw;
    text-align: center;
}

.instructions p {
    text-align: center;
    font-size: 15px;
}

.winners {
    width: 50%;
    opacity: 0;
    justify-content: center;
}

.form-container {
    width: 50vw;
}

.flex-container {
    display: flex;
    width: 100vw;
    opacity: 0;
    margin-top: 30px;
}

.flex-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hider {
    display: none;
}

.shower {
    opacity: 1.0;
    transition: opacity 1.0s;
    -webkit-transition: opacity 0.3s;
}

.winner-container {
    margin-top: 50px;
    margin-left: 10vw;
}